<% include ../partials/header %>
<div class="container">
	<header class="jumbotron">
			<div class="container">
				<h1>This Week's Tickets</h1>
					<p>View your winning tickets.</p>
					<p>
						<a class="btn btn-primary btn-large" href="/tickets/newticket">Add New Ticket</a>
					</p>
			</div>	
		</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap">
				<% tickets.forEach(function(ticket){  %>
					<div class="col-md-3 col-sm-6">
						<div class="thumbnail">
							<img src= "<%= ticket.image %> ">
							<div class="caption">
								<h4><%= ticket.numbers %></h4>
							</div>
							<p>
							<a href="/tickets/<%=ticket._id %>" class= "btn btn-primary">More Info</a>
						</p>
						</div>
					</div>
				<% });  %>		
		</div>	<% // for row div %>
</div>  <% // for container div %>
	
<% include ../partials/footer %>