

<!DOCTYPE html>
<html>
    <head>
        <title>LotteryWithFriends</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div class="center">
        <!-- <img src="/images/powerball2.png"> -->
        <img src="/images/powerball3.jpeg">
        <!-- <img src="/images/powerball3.jpeg"> -->
        <!--<img src="powerball.jpeg" alt="powerball image" height="42" width="42">-->
        <!-- <img src="http://www.kwch.com/content/news/Powerball-jackpot-expected-to-be-430-million-on-Wednesday-440213333.html"> -->
    </div>
    <!-- <div class="thumbnail">
        <img src="powerball.jpeg">
    </div>  -->
    
    <div id="landing-header">
 		<h1>Welcome to LotteryWithFriends!</h1>
 		<h2> This week's PowerBall is worth $80 Million and growing</h2>
 		<h2> Winning numbers will be picked on Saturday night at 6:00PM EST</h2>
 		<h3> <em> Be sure to get your friends together and pool your lottery tickets into </em> </h3>
 		<h3> <em> LotteryWithFriends to increase your odds!</em></h3>
		<a href="/players" class="btn btn-lg btn-success">View All Players</a>
		<a href="/tickets" class="btn btn-lg btn-success">View All Tickets</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>


<!--
 include partials/header %>
<h1>
	Landing Page
</h1>

<p>
	Welcome to Lottery With Friends
</p>

<a href="/tickets"> View This Week's Lottery Tickets</a>
<br>

<a href="/players"> View This Week's Players</a>  

 include partials/footer %>  -->
