<% include partials/header %>
<h1>
	Landing Page
</h1>

<p>
	Welcome to Lottery With Friends
</p>

<a href="/tickets"> View This Week's Lottery Tickets</a>
<br>

<a href="/players"> View This Week's Players</a>

<% include partials/footer %>