<!-- Login for LotteryWithFriends -->

<% include ./partials/header %>


<div class="container">
    
    <h1>Log In for LotteryWithFriends</h1>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
    
    <br>
    
    <form action="/forgot" method="GET">
        <input type="submit" value="Forgot Password?">
    </form>
    
</div>
<% include ./partials/footer %>