

<% include partials/header %>
<h1><%=ticket.number%></h1>

<img src="<%= ticket.image %>">

<p><%= ticket.contactInfo %></p>
<p>Description: </p><p><%= ticket.description %></p>
<% include partials/footer %>

